{release, {task_mng, {semver, ""}}, [
    {ranch, load},
    {asn1, load},
    {jsone, load},
    {crypto, load},
    {cowboy, load},
    {sasl, load},
    {ssl, load},
    {public_key, load},
    {cowlib, load},
    task_mng
]}.
{extended_start_script, true}.
{include_erts, true}.
{include_src, false}.

{overlay, [
  {template, "version", "version"}
]}.
