{release, {task_mng, {semver, ""}}, [
    {kernel, permanent},
    {stdlib, permanent},
    {sasl, permanent},
    {crypto, permanent},
    {public_key, permanent},
    {ssl, permanent},
    {jsone, permanent},
    {cowboy, permanent},
    {epgsql, permanent},
    {task_mng, permanent}
]}.
{sys_config, "./config/sys.config"}.
{extended_start_script, true}.
{include_erts, true}.
{include_src, false}.

%%{overlay, [
%%  {template, "version", "version"}
%%]}.
